body
{
background-color: rgb(194,149,110);
}
h1
{
  font-size: 3vmax;
  text-decoration: underline;
  color: rgb(43,33,41)
}
ul
{
 font-size: 18pt; 
}
img.mainlogo
{
 width:40vmax
}
p
{
  font-size: 2vmax;
}
