body
{
background-color: rgb(194,149,110);
}
h1
{
  color: #708a81;
  text-align: center;
  font-size: 48pt;
}
section h2
{
  margin: 5px;
  font-size: 28pt;
} 
section
{
 border: 3px solid black;
 margin-top:35px;
 margin-bottom:35px;
 padding:10px;
}
ul
{
 font-size: 18pt;
}
.date
{
  color:#e5d1b8;
  display:block;
  float:right;
}
nav a
{
  font-size:20pt
  font-weight:bold;
  color:#e5d1b8;
}
img
{
 border-radius:25%; 
}
img.mainlogo
{
 width:2vmax
}
#mainpic
{
  border-radius: 25%;
}
