body
{
background-color: rgb(253,244,218);
  font-family: Helvetica, Calibri, Arial, sans-serif;
}
h1
{
  font-size: 3vmax;
  text-decoration: underline;
  color: rgb(43,33,41)
    font-family: Helvetica, Calibri, Arial, sans-serif;
}
ul
{
 font-size: 18pt; 
  font-family: Helvetica, Calibri, Arial, sans-serif;
}
img.mainlogo
{
 width:2vmax
}
p
{
  font-size: 2vmax;
  font-family: Helvetica, Calibri, Arial, sans-serif;
}
