body
{
background-color: rgb(253,244,218);
}
h1
{
  color: rgb(155,162,111);
  text-align: center;
  font-size: 48pt;
}
section h2
{
  margin: 5px;
  font-size: 28pt;
} 
section
{
 border: 3px solid rgb(186,163,150);
 margin-top:35px;
 margin-bottom:35px;
 padding:10px;
}
ul
{
 font-size: 18pt;
}
.date
{
  color:#e5d1b8;
  display:block;
  float:right;
}
nav a
{
  font-size:20pt
  font-weight:bold;
  color:#e5d1b8;
}
